/*--- Fonts ---*/
@font-face {
  font-family: 'OpenSans';
  src: url('./../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CyrillicGoth';
  src: url('./../fonts/CyrillicGoth.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/*--- Reset Styles ---*/
* {
  /*--- Disable outline light on touchscreen devices ---*/
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-sizing: border-box;

  /*--- Disable select text and image ---*/
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /*--- Reset Styles ---*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
}

/*--- Common Styles ---*/
body {
  position: relative;
  overflow: auto;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 800px;
  min-height: 100dvh;

  font-family: 'OpenSans';
  font-size: 16px;
  font-weight: 400;

  background-color: #202020;
  background-image: url(./../img/bg/main-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffdd15;
}

body::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'CyrillicGoth';
  font-weight: 400;
  letter-spacing: 2px;
}

.scrn-title {
  font-size: 64px;
}

.scrn-subtitle {
  font-size: 32px;
  line-height: 140%;
}

.screen {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 0.5s ease;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}

.container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 20px;
}

.main-btn {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 78px;

  background-image: url(./../img/bg/btn-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-size: 22px;

  transition: all 0.2s ease;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: all 0.3s ease;
}

.header-btn-home {
  background-image: url(./../img/icons/home.svg);
}

.header-btn-user {
  background-image: url(./../img/icons/users-profile.svg);
}

.header-btn-settings {
  background-image: url(./../img/icons/settings.svg);
}

.main-btn:active {
  transform: translate(2px, 2px);
}

.header-btn:active {
  transform: translate(2px, 2px);
}

/*--- Header ---*/
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.main-title {
  font-size: 80px;
  font-size: clamp(
    32px,
    32px + (80 - 32) * (100vw - 360px) / (1280 - 360),
    80px
  );
}

.header-btn-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.header-info {
  position: absolute;
  top: 20px;
  left: 20px;

  font-family: 'OpenSans';
  font-size: 26px;
}

/*--- Register Screen ---*/
.register-name {
  margin-top: 40px;
  padding: 15px;
  background-color: #eeeeee;
  border: 1px solid #cf7c00;
  border-radius: 6px;
  color: rgb(16, 32, 50);
  font-size: 18px;
}

.register-info {
  margin-top: 3px;
  font-size: 14px;
}

.register-btn {
  margin-top: 40px;
}

/*--- Home Screen ---*/
.home-screen-subtitle {
  width: 100%;
  max-width: 800px;
  margin-top: 30px;
}

.home-screen-button {
  margin-top: 60px;
}

.character-name {
  text-transform: capitalize;
  color: rgb(255 27 27);
}
